*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  background-color: #ccc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 100px;
  height: 50px;
  object-fit: cover;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  margin-right: 20px;
}
